.slider{
	max-width: 90%;
	position: relative;
	margin: auto;
	height: 300px;
	margin-bottom: 15px;
}

	.slider .item img {
		object-fit: cover;
		width: 100%;
		height: 300px;
		border: none;
	}

	.slider .prev, .slider .next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		margin-top: -22px;
		padding: 16px;
		color: white;
		font-weight: bold;
		font-size: 22px;
		border-radius: 0 3px 3px 0;
	}
	.slider .next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}

	.slider .prev:hover,
	.slider .next:hover {
		background-color: rgba(0, 0, 0, 0.8);
	}

.slider-dots {
	text-align: center;
}
.slider-dots_item{
	cursor: pointer;
	height: 12px;
	width: 12px;
	margin: 0 2px;
	background-color: #ddd;
	border-radius: 50%;
	display: inline-block;
}
.active,
.slider-dots_item:hover {
	background-color: #aaa;
}